.catalogo {
    padding-top: 150px;
    

}
body{
    background-color: #DCDCE7;
}

.consolas{
    height: 40vh;
    border-bottom: 1px solid #3D1860;
}
.consolas:hover {
    opacity: 0.5;
}
.box-images{
    text-align: center;
}
/*MODAL*/
.box-modal{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 100px 80px;
}
.box-content{
    padding: 60px 10px;
    text-align: center;
    background-color: white;
    height: 450px;
}
.box-content img{
    width: 100%
}
.box-content button{
    border-radius: 5px;
    background-color: #3D1860;
    color: white;
}
.box-content p{
    text-align: justify;
}
.close{
    position: relative;
    bottom: 50px;
}
.noshow{
    display: none;
}