*{
	font-family: 'Revalia', cursive;
}
/*DISEÑO NAVBAR*/
.navbar-inverse{
	background-color: transparent;
	border: none;
}
.navbar-inverse .navbar-nav li a{
	color: #3D1860;
	transition: .5s all ease;
}