/*caja slider by Inés Vanessa Pérez*/
body{
    background-color: #DCDCE7;
}
#principal{
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;  
  margin-top: 60px;
  left: 0;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: whitesmoke;
}

#principal.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}

#sliders{
	margin-top: 130px;
	z-index: auto;
}

#koa{
  width: 1200px;
  height: 400px;
}

.nin{
	margin-bottom: -10px;
	right: -500px;
}
